html, body {
    overflow: hidden;
}

html {
    background-color: lightgray;
}

.secret-input {
    color: red;
}

#main-header {
    position: absolute;
    left: calc(50% - 114px);
    top: calc(50% - 40px);
}

#spotlight {
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff458;
    border-radius: 50%;
}